html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body {
    overscroll-behavior-y: auto;
    height:fit-content;
}

figure {
    height: 100%;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

figure:first-of-type {
    scroll-snap-align: start;
}

figure:last-of-type {
    scroll-padding-top: 50px;
    scroll-snap-align: end;
    margin-bottom: 0px;
}

img {
    gap: 15px;
    align-self: top;
}

.bounce-start, .bounce-end {
    width: 100%;
    height: 150px;
    scroll-snap-align: none;
}